/* add space for navbar */
body {
  padding-top: 121.33px;
}

nav {
  z-index: 999;
}

.active, .inactive:hover{
  /* corners */
  --b: 2px; /* border thickness */
  --c: #0000 25%,black 0; /* define the color here */
  padding: 10px;
  border: 3px solid #0000; /* make space for the border */
  background:
    conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--c)) 0    0,
    conic-gradient(from 180deg at top    var(--b) right var(--b),var(--c)) 100% 0,
    conic-gradient(from 0deg   at bottom var(--b) left  var(--b),var(--c)) 0    100%,
    conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--c)) 100% 100%;
  background-size: 25px 20px; /* adjust border length here */
  background-repeat: no-repeat;
}

.inactive {
  padding: 10px;
  border: 3px solid #0000;
}